Repository DanielAraldi/mailer, pull requests merged in 2024-01, with the labels that each got.

#33 ci: added configurations to semantic release doesn't publish release in npm
  .releaserc.json
  package-lock.json
  package.json
Labels: bug, semantic-release

#34 fix: added another plugins to CI release
  .releaserc.json
  package-lock.json
  package.json
Labels: bug, dependencies, semantic-release

#35 ci: semantic release
  .releaserc.json
  README.md
Labels: bug, documentation, dependencies, semantic-release

#36 ci: added change log configurations
  .releaserc.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: bug, documentation, dependencies, semantic-release

#37 ci: changed release rules of the commit analyzer
  .releaserc.json
Labels: bug, documentation, dependencies, semantic-release

#38 ci: added configuration for write subject and scope of the commits
  .releaserc.json
Labels: bug, documentation, dependencies, semantic-release

#39 ci: added dry mode to release
  .github/workflows/release.yml
  .releaserc.json
Labels: bug, documentation, dependencies, semantic-release, released

#40 ci: removed dry mode of the release CI
  .github/workflows/release.yml
  .releaserc.json
Labels: bug, documentation, dependencies, semantic-release, released

#42 fix: small adjust
  .releaserc.json
Labels: bug, semantic-release, released

#44 feat(#30) Created a table to save application error logs
  prisma/migrations/20240109163427_create_errors_table/migration.sql
  prisma/schema.prisma
  src/data/protocols/db/log/index.ts
  src/data/protocols/db/log/log-error-repository.ts
  src/infra/db/prisma/index.ts
  src/infra/db/prisma/log-prisma-repository.ts
  src/infra/db/prisma/prisma-helper.ts
  src/infra/db/protocols/helpers.ts
  src/main/factories/controllers/send-mail-controller-factory.ts
  src/main/factories/decorators/log-controller-decorator-factory.ts
  src/main/factories/decorators/log-controller-decorator.ts
  tests/infra/db/prisma/log-prisma-repository.spec.ts
  tsconfig.json
Labels: enhancement

#45 ci: created bug report, feature request and custom templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#46 docs: created pull request template and added code owners file
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  tests/infra/db/prisma/log-prisma-repository.spec.ts
Labels: documentation

#47 docs: created `pull_request_template.md` file
  .github/pull_request_template.md
Labels: documentation

#48 fix: templates
  .github/pull_request_template.md
  src/infra/mail/nodemailer-adapter.ts
Labels: bug, documentation

#50 docs: create readme and requirements to the project
  .env.example
  .releaserc.json
  README.md
  requirements/send.md
Labels: documentation

#51 docs: adjust readme badges
  README.md
Labels: bug, documentation

#52 Feat (#49) Implement Test Environment
  jest.config.js
  package-lock.json
  package.json
  prisma/jest-environment-prisma/helpers/generate-database-url.ts
  prisma/jest-environment-prisma/helpers/index.ts
  prisma/jest-environment-prisma/helpers/set-database-url.ts
  prisma/jest-environment-prisma/prisma-test-environment.ts
  tsconfig.json
Labels: enhancement

#54 fix: send failed error
  package-lock.json
  package.json
  requirements/send.md
  src/infra/mail/nodemailer-adapter.ts
  src/presentation/controllers/send-mail-controller.ts
  src/presentation/errors/index.ts
  src/presentation/errors/send-failed-error.ts
  src/presentation/errors/unauthorized-error.ts
  src/presentation/helpers/http.ts
  tests/main/routes/send-mail-routes.test.ts
  tests/presentation/controllers/send-mail-controller.spec.ts
Labels: bug, documentation, dependencies, released
